@import url('https://fonts.googleapis.com/css?family=Lato|Mandali|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ranga&display=swap');
body {
  background-image: url("../../img/background3.jpg");
  background-size: cover;
  font-family: 'Mandali', sans-serif;
}

.view {
  background: url("../../img/Arrière-plan-copie.png") no-repeat center center;
  background-size: cover;
}

.view {
  height: 70%;
}

.sous-banniere {
  padding-top: 6%;
  padding-bottom: 3%;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: black;
  font-size: 1.3em;
}


.form-control.search {
  border: 3px solid rgba(85, 136, 77, 0.6) !important;
  border-radius: 100px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 30px;
  background-color: #FFFFFF !important;
}


.w-15 {
  width: 15% !important;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.cards {
  width: 300px;
}




footer {
  background-color: rgba(85, 136, 77, 0.6) !important;
  opacity: 0.8;
}

.rgba-green-light, .rgba-green-light:after {
  background-color: rgba(85, 136, 77, 0.5);
}

.h-30 {
  height: 30%;
}

.main {
  margin-top: 50px;
}

.main > .card {
  margin: 0 auto
}

.search {
  margin: 0 auto;
}


footer a {
  color: #ffffff;
}

.speach {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Ranga', cursive;
  font-weight: bolder;
}

@media screen and (max-width: 990px) {
  .speach{
    margin-top: -50px;
    font-size: 2rem;
  }
  .logo {
    display: none;
    width: 60px;
    height: auto;
  }

}

.speach span{
  color: #8d0e0a;
}

.fixed
{
  position: fixed;
  top: 35px;
}

#header.fixed {position:fixed;width:100%;top:0;left:0;margin-top:0;}

.caddie{
  margin-top: -150px;
}

.navig{
  position:relative;
  z-index: 200;
}

#nav2{
  display: none;
}
/* Only for snippet */
.double-nav .breadcrumb-dn {
  color: #fff;
}

.sidebar{
  height: 600px;
}

#desc {
  margin: 0 auto;
  width: 170px;
  bottom: 200px;
  display: none;
}

#idval{
  margin-bottom: 50px;
}



.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  margin-bottom: 3rem;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
}

.number-input.number-input button {
  width: 1rem;
  height: .7rem;
}

.number-input.number-input button.minus {
  padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}

.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {

    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}

.minicount{
  border: 2px solid green;
  border-radius: 10%;
  background-color: rgba(33, 155, 12, 0.5);
}


